<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<% @comments.each do |list| %>
  <li> <%= list.user %> </li>
  <li> <%= list.link %> </li>
  <li> <%= list.text %> </li>
  <li> <%= list.site_id %> </li>
  <br>
<% end %>
