<h1>Sites#index</h1>
<p>Find me in app/views/sites/index.html.erb</p>

<% @sites.each do |list| %>
  <h3><%= list.location %></h3>
  <li><%= list.construction_type %></li>
  <li><%= list.building_type %></li>

<% end %>
